{% extends 'base.html' %}

{% block content %}
    <div class="login-container">
        <h2 style="text-align: center;">Login</h2>
        <form style="margin-top: 25px;" method="post" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                {{ form.password }}
            </div>
            <button style="margin-top: 140px;" type="submit" class="btn btn-primary">Login</button>
        </form>
        
        <form method="get" action="{% url 'account_reset_password' %}">
            <button type="submit" class="btn btn-info btn-forgot-password">Forgot Password?</button>
        </form>
        {% include 'theme_popup.html' %}
    </div>
    <style>
        .login-container {
            margin-top: 50px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: var(--form-color);
            width: 450px;
            height: 550px;
            margin-left: 150px;
        }

        .login-container h2 {
            text-align: center;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: left;
        }

        .form-group {
            width: 100%;
        }

        .form-group label {
            display: block;
            margin-bottom: 10px;
        }

        form input[type="text"],
        form input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: var(--bg-color);
            color: var(--text-color);
        }

        button[type="submit"] {
            width: 100%;
            padding: 10px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn-primary {
            background-color: var(--button-bg-color);
            color: white;
        }

        .btn-primary:hover {
            background-color: #45a049;
        }

        .btn-info {
            background-color: var(--button-bg-color);
            color: white;
        }

        .btn-info:hover {
            background-color: #D1E8E2;
        }

    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var themePopup = document.getElementById('theme-popup');
            var saveThemeButton = document.getElementById('save-theme');
            var themeRadios = document.getElementsByName('theme');
    
            // Check if the user has already selected a theme
            var selectedTheme = localStorage.getItem('selectedTheme');
    
            if (!selectedTheme) {
                // If no theme is selected, show the pop-up
                themePopup.style.display = 'block';
            }
    
            saveThemeButton.addEventListener('click', function() {
                var selectedTheme = '';
    
                // Get the selected theme value
                themeRadios.forEach(function(radio) {
                    if (radio.checked) {
                        selectedTheme = radio.value;
                    }
                });
    
                // Save the selected theme to local storage
                localStorage.setItem('selectedTheme', selectedTheme);
    
                // Hide the pop-up
                themePopup.style.display = 'none';
    
                // Redirect to the appropriate theme URL or update the theme dynamically
                // Example: window.location.href = '/set-theme/' + selectedTheme + '/';
                // Get the saved theme from localStorage
                var savedTheme = localStorage.getItem('selectedTheme');

                // Apply the saved theme to the page
                if (savedTheme) {
                    document.body.classList.remove('theme-light', 'theme-dark');
                    document.body.classList.add(`theme-${savedTheme}`);
                }
            });
        });
    </script>
{% endblock %}
