amqp==5.2.0
annotated-types==0.6.0
anyio==4.3.0
asgiref==3.7.2
beautifulsoup4==4.12.3
billiard==4.2.0
blinker==1.5
blis==0.7.11
breadability==0.1.20
catalogue==2.0.10
celery==5.3.6
certifi==2022.9.24
cffi==1.16.0
channels==4.1.0
chardet==5.2.0
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.4
cryptography==42.0.5
cymem==2.0.8
defusedxml==0.7.1
distro==1.9.0
dj-database-url==2.1.0
Django==5.0.2
django-allauth==0.61.1
django-ckeditor==6.7.1
django-js-asset==2.2.0
django-shortcuts==1.6
djangorestframework==3.14.0
dnspython==2.2.1
docopt==0.6.2
email-validator==1.3.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
filelock==3.13.1
Flask==2.2.2
Flask-Mail==0.9.1
Flask-WTF==1.0.1
fsspec==2024.3.1
gTTS==2.5.1
h11==0.14.0
html2text==2024.2.26
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.21.4
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
kombu==5.3.5
langcodes==3.3.0
load-dotenv==0.1.0
lxml==5.1.0
MarkupSafe==2.1.1
mpmath==1.3.0
murmurhash==1.0.10
networkx==3.3
nltk==3.8.1
numpy==1.26.4
oauthlib==3.2.2
openai==1.12.0
packaging==23.2
pandas==2.2.1
pluggy==1.4.0
preshed==3.0.9
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
pycountry==23.12.11
pycparser==2.21
pydantic==2.6.2
pydantic_core==2.16.3
PyJWT==2.8.0
pymongo==4.6.2
pypi-search==2.0
pytest==8.0.2
python-dateutil==2.8.2
python-dotenv==0.21.0
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.28.1
requests-oauthlib==1.3.1
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
setuptools==69.2.0
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.4.4
srsly==2.4.8
sumy==0.11.0
sympy==1.12
thinc==8.2.3
threadpoolctl==3.3.0
tokenizers==0.15.2
torch==2.2.2
tqdm==4.66.2
transformers==4.38.2
typer==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
urllib3==1.26.12
vine==5.1.0
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
Werkzeug==2.2.2
wheel==0.43.0
whitenoise==6.6.0
WTForms==3.0.1
