{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">Note Groups</h2>

<a href="{% url 'notes:group_create' %}" style="text-align: center; text-decoration: none; margin: 20px; padding: 10px; border-radius: 9px;">Create New Group</a>

<div id="all-groups">
    {% for group in groups %}
    <div id="group-box">
        <p id="group-title">{{ group.title }}</p>
        <div id="group-buttons">
            <a class="grp-button" href="{% url 'notes:group_detail' group.pk %}">View</a>
            <a class="grp-button" href="{% url 'notes:group_edit' group.pk %}">Edit</a>
            <a class="grp-button" href="{% url 'notes:group_delete' group.pk %}" onclick="return confirm('Are you sure?');">Delete</a>
            <a class="grp-button" href="{% url 'notes:assign-note-to-group' %}">Assign Notes</a>
        </div>
        

    </div>
    {% endfor %}
</div>

<style>
    #group-box {
        padding: 15px;
        background-color: var(--bg-color);
        border: none;
        margin: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 6px;
        transition: transform 0.3s ease;
    }
    #group-box:hover {
        transform: scale(1.1);
    }

    #group-box p{
        text-align: center;
        align-items: center;
    }

    #all-groups {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    #group-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grp-button {
        display: inline-block;
        background-color: var(--navbar-bg-color);
        color: var(--navbar-text-color);
        padding: 5px 10px;
        margin: 10px;
        width: 100px;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
</style>
{% endblock %}
