{% extends 'base.html' %}

{% block content %}
<h2>Note Groups</h2>

<a href="{% url 'notes:note_group_create' %}">Create New Group</a>

<ul>
    {% for group in groups %}
    <li>
        {{ group.title }}
        <a href="{% url 'notes:note_group_detail' group.pk %}">View</a>
        <a href="{% url 'notes:note_group_edit' group.pk %}">Edit</a>
        <a href="{% url 'notes:note_group_delete' group.pk %}" onclick="return confirm('Are you sure?');">Delete</a>
        <a href="{% url 'notes:assign-note-to-group' %}">Assign Notes</a>

    </li>
    {% endfor %}
</ul>
{% endblock %}
