{% extends 'base.html' %}

{% block content %}
  <h2>{{ group.title }}</h2>
  <p>{{ group.description }}</p>
  <h3>Notes in this group:</h3>
  <ul>
    {% for note in notes %}
      <li>{{ note.title }}</li>
      {% for note_group in note.group.all %}
              {{ note_group.title }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
    {% endfor %}
  </ul>
  
  <a class="grp-button" href="{% url 'notes:assign-note-to-group' %}">Assign Notes to Group</a>
  <a class="grp-button" href="{% url 'notes:group_edit' group.pk %}">Edit Group</a>
  <a class="grp-button" href="{% url 'notes:group_delete' group.pk %}" onclick="return confirm('Are you sure?');">Delete</a>

  <a class="grp-button" href="{% url 'notes:group_list' %}">Back to Group List</a>

  <style>
    #group-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grp-button {
        display: inline-block;
        background-color: var(--navbar-bg-color);
        color: var(--navbar-text-color);
        padding: 5px 10px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
  </style>
{% endblock %}