.navbar {
    background-color: var(--navbar-bg-color);
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    float: right;
    display: block;
    color: var(--navbar-text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: var(--navbar-hover-bg-color);
    color: var(--navbar-hover-text-color);
}

.navbar-title {
    float: left;
    color: var(--navbar-text-color);
    padding: 14px 20px;
    font-size: 40px;
    text-decoration: none;
}

nav form {
    display: inline;
}

nav form button {
    color: var(--navbar-button-text-color);
}
nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    color: var(--navbar-text-color);
    padding: 10px 15px;
    transition: background-color 0.3s;
    background-color: var(--navbar-link-bg-color);
    border: none;
    border-radius: 5px;
}

@media (max-width: 600px) {
    nav ul {
      flex-direction: column;
    }
    nav ul a {
      text-align: center;
      padding: 10px;
    }
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}