/* Light theme styles */
.theme-light {
    --bg-color: #f5f5f5;
    --text-color: #333;
    --link-color: #007bff;
    --header-bg-color: #2C2C54;
    --header-text-color: #f5f5f5;
    --navbar-bg-color: #2C2C54;
    --navbar-text-color: #f5f5f5;
    --navbar-hover-bg-color: #ddd;
    --navbar-hover-text-color: #333;
    --navbar-link-bg-color: #656ab4;
    --navbar-button-bg-color: #007bff;
    --navbar-button-text-color: #f5f5f5;
    --footer-bg-color: #2C2C54;
    --footer-text-color: #f5f5f5;

    --button-bg-color: #474787;
    --button-hover-color: #0056b3;
    --button-text-color: #f5f5f5;

    --form-color: #f5f5f5;
    --border-box-color: #9e9ea0;

    /* Search css */
    --input-border-color: #ddd;
    --input-focus-border-color: #007bff;
    --input-bg-color: #fff;
    --input-text-color: #333;
    --card-bg-color: #fff;
    --card-title-color: #333;
    --card-text-color: #555;
    --close-assistant-icon: url('../../static/notes/css/images/close-chat-icon.png');
    --open-assistant-icon: url('../../static/notes/css/images/open-chat-icon.png');
}
  
  /* Dark theme styles */
  .theme-dark {
    --bg-color: #222;
    --text-color: #f5f5f5;
    --link-color: #4da6ff;
    --header-bg-color: #333;
    --header-text-color: #f5f5f5;
    --navbar-bg-color: #333;
    --navbar-text-color: #f5f5f5;
    --navbar-hover-bg-color: #444;
    --navbar-hover-text-color: #f5f5f5;
    --navbar-link-bg-color: #222;
    --navbar-button-bg-color: #4da6ff;
    --navbar-button-text-color: #f5f5f5;
    --footer-bg-color: #333;
    --footer-text-color: #f5f5f5;

    --button-bg-color: #333;
    --button-hover-color: #444;
    --button-light-hover-color: #555;
    --button-text-color: #f5f5f5;

    --form-color: #333;
    --border-box-color: #78777d;

    /* Search css */
    --input-border-color: #444;
    --input-focus-border-color: #4da6ff;
    --input-bg-color: #333;
    --input-text-color: #f5f5f5;
    --card-bg-color: #444;
    --card-title-color: #f5f5f5;
    --card-text-color: #ccc;

    --close-assistant-icon: url('../../static/notes/css/images/white-close-chat-icon.png');
    --open-assistant-icon: url('../../static/notes/css/images/white-open-chat-icon.png');
  }
  
  /* Apply the theme variables */
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
  }
  
  a {
    color: var(--link-color);
  }
  
  .navbar {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
  }
  
  .navbar a {
    color: var(--navbar-text-color);
  }
  
  .navbar a:hover {
    background-color: var(--navbar-hover-bg-color);
    color: var(--navbar-hover-text-color);
  }
  
  .navbar-title {
    color: var(--navbar-text-color);
  }
  
  nav ul a {
    background-color: var(--navbar-link-bg-color);
  }
  
  nav form button {
    background-color: var(--navbar-button-bg-color);
    color: var(--navbar-button-text-color);
  }
  
  footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
  }

/* Theme pop up CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

.theme-options {
    margin-bottom: 20px;
}

.theme-options label {
    display: block;
    margin-bottom: 10px;
}

/* Dark mode styles for CKEditor */
.cke_top,
.cke_bottom {
    background-color: var(--form-color) !important;
}

.cke_toolbar_separator {
    background-color: var(--navbar-hover-bg-color) !important;
}

.cke_combo_button,
.cke_button_on {
    background-color: var(--navbar-hover-bg-color) !important;
}

.cke_button_off:hover,
.cke_combo_off a.cke_combo_button:hover {
    background-color: var(--button-light-hover-color) !important;
}

.theme-dark .cke_button_icon {
  filter: invert(1); /* Invert the color of the button icons (bold, italic, etc.) */
}

.theme-dark .cke_combo_text {
    color: var(--text-color); /* Change the color of the combo text */
}

.theme-dark .cke_combo_arrow {
    border-left-color: var(--button-text-color); /* Change the color of the caret icon */
  }
  
.cke_combo_off a.cke_combo_button:hover .cke_combo_arrow,
.cke_combo_on a.cke_combo_button .cke_combo_arrow {
    border-left-color: var(--button-text-color); /* Change the color of the caret icon on hover/selected */
}

/* This would change the color of the text field of the CKEditor, but leaving it white may be better for readability */
/*
.theme-dark .cke_wysiwyg_frame,
.theme-dark .cke_source {
  background-color: #2d2d2d !important;
  color: #d4d4d4 !important;
}
*/