<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FlowNote{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'notes/css/notes_styles.css' %}">
    <link rel="stylesheet" href="{% static 'notes/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'notes/css/search.css' %}">
</head>

<body>
    <header>
        <div class="nav-container">
            <h1>FlowNote</h1>
            <nav class="nav-links">
                <ul>
                    <li><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'notes:note_list' %}" class="{% if request.path == '/notes/list/' %}active{% endif %}">Note List</a></li>
                        <li><a href="{% url 'notes:create_note' %}" class="{% if request.path == '/notes/create/' %}active{% endif %}">Create Note</a></li>

                        <form action="{% url 'notes:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    {% else %}
                        <a href="{% url 'notes:login' %}">Login</a>
                        <a href="{% url 'notes:register' %}">Register</a>
                    {% endif %}

                    
                </ul>
            </nav>
        </div>
    </header>

    <div id="content" class="container">
        {% block content %}
        <!-- Content from child templates will be inserted here -->
        {% endblock %}
    </div>
    {% include 'assistant.html' %}
</body>
<footer>
        <div class="footer-container">
            &copy; 2024 FlowNote.
        </div>
</footer>
</html>