{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Welcome to FlowNote</h2>
        <p>Your personal AI-enhanced note-taking companion.</p>
        
        {% if user.is_authenticated %}
        <div class="row">
            <p><a href="{% url 'notes:profile' %}" class="btn btn-primary">Profile</a></p>
            <a style="margin: 20px;" href="{% url 'notes:create_note' %}" class="btn btn-success">Start taking notes</a> 
        </div>
            <p>Explore the ease and intelligence of FlowNote.</p>
        {% endif %}
        
        <div class="features">
            <h3>Key Features:</h3>
            <ul>
                <li>
                    <strong>Chat Assistant</strong>
                    <p>Get instant help with any school or class-related questions. Our AI-powered chat assistant is here to assist you throughout your note-taking journey.</p>
                    <div class="feature-card">
                        <div class="row">
                            <img class="img1" src="../static/notes/css/images/assistant.png" alt="AI-powered chat assistant">
                            <img class="img2" src="../static/notes/css/images/Arrow-right-512.png" alt="right arrow">
                            <img class="img1" src="../static/notes/css/images/usedAssistant.png" alt="AI-powered chat assistant explaining what the mitochondria is">
                        </div>
                    </div>
                </li>
                <li>
                    <strong>Sync across all devices</strong>
                    <p>Access your notes seamlessly across all your devices. Whether you're using your laptop, tablet, or smartphone, your notes are always at your fingertips.</p>
                    <div class="feature-card">
                        <div class="column">
                            <img class="img1" src="../static/notes/css/images/notePage.png" alt="Note sync across devices">
                            <img class="img3" src="../static/notes/css/images/down-arrow.png" alt="down arrow">
                            <img class="img1" src="../static/notes/css/images/noteSearch.png" alt="Note search across devices">
                        </div>
                    </div>
                </li>
                <li><strong>Intuitive user interface</strong>
                    <p>Enjoy a user-friendly interface designed to enhance your note-taking experience. Say goodbye to cluttered interfaces and hello to simplicity.</p>
                </li>
                <li><strong>Secure encryption for your data</strong>
                    <p>Your privacy and security are our top priorities. Rest assured, your data is encrypted using the latest security protocols, keeping it safe from unauthorized access.</p>
                </li>
                <li><strong>Customizable themes</strong>
                    <p>Personalize your note-taking environment with customizable themes. Choose from a variety of color schemes and layouts to suit your preferences.</p>
                </li>
            </ul>
        </div>
        {% include 'assistant.html' %}
    </div>

    <style>
        /* CSS styles for the homepage */
        .feature-card {
            margin-bottom: 40px;
        }
        .img1{
            max-height: 350px;
            max-width: 500px;
            border-color: #c8e3ff;
            border-radius: 3px;
            border-width: 2px;
            border-style: groove;
        }
        .img2{
            max-height: 30px;
            max-width: 30px;
        }
        .img3{
            max-height: 30px;
            max-width: 30px;
            margin: 15px 0px 15px 50px;
        }
        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .column {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
        .container {
            margin: 25px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: left;
        }

        .btn {
            display: inline-block;
            padding: 8px 16px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            color: #fff;
        }

        .btn-primary {
            background-color: #007bff;
        }

        .btn-success {
            background-color: #28a745;
        }

        .features {
            margin-top: 30px;
        }

        .features h3 {
            font-size: 24px;
            color: var(--text-color);
        }

        .features ul {
            list-style-type: none;
            padding: 0;
        }

        .features li {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}
