{% extends 'base.html' %}

{% block content %}
  <div class="note-container">
    <h2 style="text-align: center;">Notes</h2>
    <ul class="notes-list">
      {% for note in notes %}
        <li class="note-item">
          <a href="{% url 'notes:note_detail' note.pk %}" class="note-card">
            <div class="note-content">
              <h3>{{ note.title }}</h3>
              <p>{{ note.content }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
