{% extends 'base.html' %}

{% block content %}
  <h2>{{ note.title }}</h2>
  <p><strong>Summary:</strong> {{ note.summary }}</p>
  <p>{{ note.content }}</p>
  <p>By: {{ note.owner }}</p>


  <a href="{% url 'notes:note_update' note.id %}" class="btn btn-primary">Update</a>
  <a href="{% url 'notes:note_delete' note.id %}" class="btn btn-danger">Delete</a>

  <form action="{% url 'notes:analyze_note' note.id%}" method="post">
    {% csrf_token %}
    <button type="submit">Analyze Note</button>
  </form>

{% endblock %}