{% extends 'base.html' %}

{% block content %}
  <div class="note-container">
    <h2 style="text-align: center;">Notes</h2>

    <div class="search-container" style="text-align: center; margin-bottom: 20px;">
      <form action="{% url 'notes:note_search' %}" method="get">
        <input type="text" name="q" placeholder="Search notes...">
        <button type="submit">Search</button>
      </form>
    </div>


    <ul class="notes-list">
      {% for note in notes %}
        <li class="note-item">
          <a href="{% url 'notes:note_detail' note.pk %}" class="note-card">
            <div class="note-content">
              <h3>{{ note.title }}</h3>
              {% if note.summary %}
                <p>{{ note.summary }}</p>
              {% else %}
                <p>{{ note.content }}</p>
              {% endif %}
              <p>By: {{ note.owner }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
