{% extends 'base.html' %}

{% block content %}
<div class="full-page">
  <h2 style="text-decoration: underline;">{{ note.title }}</h2>
  <script id="note-id" type="application/json">{{ note.id }}</script>

  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}

  <p><strong>Created At:</strong> {{ note.created_at|date:"F d, Y H:i" }}</p>
  <p><strong>Last Updated:</strong> {{ note.updated_at|date:"F d, Y H:i" }}</p>
  <p><strong>Summary:</strong> {{ note.summary }}</p>
  <div class="content-area">
    {{ note.content|safe }}
  </div>
  
  <p>By: {{ note.owner }}</p>
  <p>Group: {{ note.group }}</p>

  <div class="button-group">
    <button><a href="{% url 'notes:note_update' note.id %}" class="btn btn-primary">Update</a></button>
    <button><a href="{% url 'notes:note_delete' note.id %}" class="btn btn-danger">Delete</a></button>
  </div>
  
  {% include 'assistant.html' %}

  {% comment %} <button class="btn-secondary" id="analyzeNoteBtn" data-note-id="{{ note.id }}" data-analyze-url="{% url 'notes:analyze' note.id %}">Analyze Note</button>
  <div id="analysisResult"></div> {% endcomment %}

  <h3>Flashcards</h3>
  <div id="flashcard-section">
    <div id="flashcard-container">
      <div id="flashcard">
        <div class="card-side" id="term">Term</div>
        <div class="card-side" id="definition">Definition</div>
      </div>

      <button id="generateFlashcardsBtn" type="submit">Generate Flashcards</button>

      <div id="flashcard-buttons">
        <button id="prevBtn">Previous</button>
        <button id="flipBtn">Flip</button>
        <button id="nextBtn">Next</button>
      </div> 
    </div>
  </div>

  {% comment %} <button type="submit" class="btn-secondary analyze-btn" data-type="keywords" data-note-id="{{ note.id }}" data-analyze-url="{% url 'notes:generate_keywords' note.id %}">Analyze Keywords</button> {% endcomment %}
  
  <button type="submit" class="btn-secondary analyze-btn" id="analyzeNoteBtn" data-type="summary" data-note-id="{{ note.id }}" data-analyze-url="{% url 'notes:generate_summary' note.id %}">Generate Summary</button>
  <div id="analysisResult"></div>


  <h3>Auto Grouping</h3>
  <form action="{% url 'notes:auto_group_note' note.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">Auto Group This Note</button>
  </form>

  <!-- Content Generation -->
  <div class="generate-content-form">
    <label for="prompt-input" class="form-label">Enter a prompt:</label>
    <div class="input-group mb-3">
      <input type="text" id="prompt-input" placeholder="Enter a prompt..." class="form-control">
      
      <!-- Hidden CSRF Token Input -->
      <input class="gen-prompt-input" type="hidden" id="csrf-token" value="{{ csrf_token }}">
      <button type="submit" id="generate-content-btn" data-note-id="{{ note.id }}" class="btn-secondary">Generate</button>
    </div>
  </div>

  
  <div id="content-container" class="content-display-area mt-4 p-3" style="background-color: var(--bg-color); border-radius: 5px;"></div>

</div>
<style>
  #flashcard-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin-top: 20px; 
  }
  
  #flashcard-section {
    text-align: center;
    margin-top: 20px;
  }
  
  #flashcard-container {
    display: inline-block; 
    margin-bottom: 20px; 
  }
  
  #generateFlashcardsBtn {
    display: block; 
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc; 
    background: #eee; 
    color: #333; 
  }
  
  button a {
    text-decoration: none;
    color: inherit; 
  }
  
  button:hover {
    background: #ddd; 
  }
  
  button {
    width: 120px;
  }
  
  .content-area, .button-group, #flashcard-section, .generate-content-form {
    margin-bottom: 20px;
  }
  #flashcard-container {
    text-align: center;
  }

  #flashcard {
    width: 300px;
    height: 200px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    cursor: pointer;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .card-side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  #term {
    background: #fafafa;
  }

  #definition {
    background: #f0f0f0;
    transform: rotateY(180deg);
  }

  #prevBtn,
  #flipBtn,
  #nextBtn {
    margin: 10px;
  }

  .generate-content-form {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .content-display-area {
    margin-top: 20px;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }

  .container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .button-group {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .btn-secondary {
    margin-right: 10px;
    background-color: var(--card-bg-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 9px;
    border: none;
    width: 125px;
    min-width: 70px;
  }

  .button-group button {
    margin-right: 10px;
    background-color: var(--button-bg-color);
    padding: 10px;
    border-radius: 9px;
    border: none;
  }

  .button-group button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .content-area {
    background-color: var(--form-color);
    border-radius: 16px;
    padding: 15px 40px 20px 20px;
  }

  .form-control {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
</style>

{% endblock %}

{% block javascript %}
<script>
  // FLASHCARDS
  document.addEventListener('DOMContentLoaded', function() {
    let currentCardIndex = 0;
    let flashcards = [];
  
    const termElement = document.getElementById('term');
    const definitionElement = document.getElementById('definition');
    const prevBtn = document.getElementById('prevBtn');
    const flipBtn = document.getElementById('flipBtn');
    const nextBtn = document.getElementById('nextBtn');
    const generateFlashcardsBtn = document.getElementById('generateFlashcardsBtn');

    const noteId = document.getElementById('note-id') ? JSON.parse(document.getElementById('note-id').textContent) : null;
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    generateFlashcardsBtn.addEventListener('click', fetchFlashcards);

    function fetchFlashcards() {
      if (!noteId) {
        console.error('No note ID found!');
        return;
      }
    
      fetch(`/notes/generate-flashcards/${noteId}/`, {
        method: 'POST',
        headers: {
          'X-CSRFToken': csrfToken,
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 'note_id': noteId })
      })
      .then(response => response.json())
      .then(data => {
        flashcards = Object.entries(data);  
        if (flashcards.length) {
          displayCard(0);
          showFlashcardSection();
        } else {
          console.error('No flashcards data received');
        }
      })
      .catch(error => console.error('Error fetching flashcards:', error));
    }
    
    
  function displayCard(index) {
    termElement.textContent = flashcards[index][0];
    definitionElement.textContent = flashcards[index][1];
    termElement.style.display = '';
    definitionElement.style.display = 'none';
    }

  flipBtn.addEventListener('click', () => {
    termElement.style.display = termElement.style.display === 'none' ? '' : 'none';
    definitionElement.style.display = definitionElement.style.display === 'none' ? '' : 'none';
  });

  prevBtn.addEventListener('click', () => {
    if (currentCardIndex > 0) {
        currentCardIndex--;
        displayCard(currentCardIndex);
    }
  });

    nextBtn.addEventListener('click', () => {
    if (currentCardIndex < flashcards.length - 1) {
        currentCardIndex++;
        displayCard(currentCardIndex);
    }
    });

    fetchFlashcards();

    function showFlashcardSection() {
    const flashcardSection = document.getElementById('flashcard-section');
    flashcardSection.style.display = '';
    }
  });

  // AUTOCOMPLETE
  document.addEventListener("DOMContentLoaded", function() {
    const contentInput = document.getElementById('note-content-input');
    const suggestionsContainer = document.getElementById('autocomplete-suggestions');
  
    // Handle keydown event for autocomplete activation
    contentInput.addEventListener('keydown', function(event) {
      // Activate autocompletion with Ctrl+I
      if (event.ctrlKey && event.key === 'i') {
        event.preventDefault();  // Prevent default Ctrl+I behavior
        const currentText = contentInput.value;
        const caretPos = contentInput.selectionStart;
        const textToCursor = currentText.substring(0, caretPos);
  
        // Fetch autocomplete suggestions from server
        fetch(`/autocomplete?text=${encodeURIComponent(textToCursor)}`, {
          method: 'GET'
        })
        .then(response => response.json())
        .then(data => {
          suggestionsContainer.innerHTML = '';
          suggestionsContainer.style.display = 'block';
  
          // Display each suggestion in the suggestions container
          data.suggestions.forEach(suggestion => {
            const suggestionElement = document.createElement('div');
            suggestionElement.textContent = suggestion;
            suggestionElement.classList.add('autocomplete-suggestion');
  
            suggestionElement.addEventListener('click', function() {
              insertTextAtCursor(contentInput, ' ' + suggestion + ' ');
              suggestionsContainer.innerHTML = '';
              suggestionsContainer.style.display = 'none';
            });
  
            suggestionsContainer.appendChild(suggestionElement);
          });
        })
        .catch(error => console.error('Error fetching autocomplete suggestions:', error));
      }
    });
  
    // Function to insert text at cursor position in textarea
    function insertTextAtCursor(input, text) {
      const sentence = input.value;
      const pos = input.selectionStart;
      const before = sentence.substring(0, pos);
      const after  = sentence.substring(pos);
      
      input.value = before + text + after;
      input.selectionStart = pos + text.length;
      input.selectionEnd = pos + text.length;
      input.focus();
    }
  });


  // GENERATE CONTENT
  document.addEventListener("DOMContentLoaded", function() {
    const generateContentBtn = document.getElementById('generate-content-btn');
    const contentContainer = document.getElementById('content-container');
    const promptInput = document.getElementById('prompt-input');

    generateContentBtn.addEventListener('click', function(e) {
        e.preventDefault();
        const noteId = this.getAttribute('data-note-id');
        const prompt = promptInput.value;
        const generateContentUrl = `/notes/generate-content/${noteId}/`; 
        const csrfToken = document.getElementById('csrf-token').value;
        fetch(generateContentUrl, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken, //getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 'prompt': prompt })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.error) {
                console.error('Error generating content:', data.error);
            } else {
                contentContainer.innerHTML = '';  
                const contentParagraph = document.createElement('p');
                contentParagraph.textContent = data.generated_content;  
                contentContainer.appendChild(contentParagraph);
            }
        })
        .catch(error => console.error('Error generating content:', error));
    });

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  });

  // SUMMARY
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".analyze-btn").forEach(btn => {
        btn.addEventListener("click", function(e) {
            e.preventDefault();
            const noteId = this.getAttribute("data-note-id");
            const analyzeType = this.getAttribute("data-type");
            const analyzeUrl = this.getAttribute("data-analyze-url");
            const postData = new FormData();
            postData.append('note_id', noteId);

            this.textContent = 'Analyzing...';  
            this.disabled = true;  

            fetch(analyzeUrl, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams(postData)
            })
            .then(response => response.json())
            .then(data => {
                const analysisContainer = document.getElementById("analysisResult");
                let content = `<p>Summary: ${data.summary}</p>`;
                analysisContainer.innerHTML = content;  // Ensure only summary data is displayed.

                this.textContent = 'Generate Summary';  // Reset button text to original after operation
                this.disabled = false;  // Re-enable the button
            })
            .catch(error => {
                console.error('Error:', error);
                this.textContent = 'Generate Summary';  // Reset button text to original on error
                this.disabled = false;  // Re-enable the button
                alert('Failed to analyze: ' + error.message);
            });
        });
    });
  });

  // SUMMARY
  {% comment %} document.addEventListener("DOMContentLoaded", function() {
    const analyzeBtn = document.getElementById("analyzeNoteBtn");
  
    analyzeBtn.addEventListener("click", function(e) {
      e.preventDefault();
      const analyzeUrl = this.getAttribute("data-analyze-url");
      
      fetch(analyzeUrl, {
        method: 'POST',
        headers: {
          'X-CSRFToken': getCookie('csrftoken'),
        },
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        console.log(data); // Log the data to see what is received
  
        const analysisContainer = document.getElementById("analysisResult");
        analysisContainer.innerHTML = ''; // Clear previous results
        
        // Update the webpage with the received data
        const keywordsP = document.createElement('p');
        keywordsP.textContent = "Keywords: " + data.keywords;
        analysisContainer.appendChild(keywordsP);
  
        const summaryP = document.createElement('p');
        summaryP.textContent = "Summary: " + data.summary;
        analysisContainer.appendChild(summaryP);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    });

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  }); {% endcomment %}

  
  {% comment %} document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".analyze-btn").forEach(btn => {
      btn.addEventListener("click", function(e) {
          e.preventDefault();
          const noteId = this.getAttribute("data-note-id");
          const analyzeType = this.getAttribute("data-type");
          const analyzeUrl = this.getAttribute("data-analyze-url");
          const postData = new FormData();
          postData.append('note_id', noteId);

          this.textContent = 'Analyzing...';  
          this.disabled = true;  

          fetch(analyzeUrl, {
            method: 'POST',
            headers: {
              'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
              'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams(postData)
          })
          .then(response => response.json())
          .then(data => {
            const analysisContainer = document.getElementById("analysisResult");
            let content = `<p>${analyzeType.charAt(0).toUpperCase() + analyzeType.slice(1)}: ${data.status}</p>`;
            analysisContainer.innerHTML = content;  

            this.textContent = 'Analyze ' + analyzeType.charAt(0).toUpperCase() + analyzeType.slice(1); 
            this.disabled = false;  
          })
          .catch(error => {
            console.error('Error:', error);
            this.textContent = 'Analyze ' + analyzeType.charAt(0).toUpperCase() + analyzeType.slice(1);  
            this.disabled = false;  
            alert('Failed to analyze: ' + error.message);
          });
        });
      });
    });
  

  document.getElementById('toggle-update-form').addEventListener('click', function() {
    var updateForm = document.getElementById('update-form');
    if (updateForm.style.display === "none") {
      updateForm.style.display = "block";
    } else {
        updateForm.style.display = "none";
    }
  }); {% endcomment %}
  

</script>


{% endblock %}