{% extends 'base.html' %}

{% block content %}
  <div class="note-container">
    <h2 style="text-align: center;">Notes</h2>

    <div class="search-container" style="text-align: center; margin-bottom: 20px;">
      <form action="{% url 'notes:note_search' %}" method="get">
        <input class="search-bar" type="text" name="q" placeholder="Search notes...">
        <button type="submit" class="search-btn">Search</button>
      </form>
    </div>

    <form action="{% url 'notes:auto_group_all' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary">Auto Group All Notes</button>
    </form>
    
    <ul class="notes-list">
      {% for note in notes %}
        <li class="note-item">
          <a href="{% url 'notes:note_detail' note.pk %}" class="note-card">
            <div class="note-content">
              <h3 style="text-decoration: underline;">{{ note.title }}</h3>
              {% if note.summary %}
                {{ note.content|safe }}
              {% else %}
              {{ note.content|safe }}
              {% endif %}
              <p>By: {{ note.owner }}</p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
