{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile-container">
    <h2>Profile</h2>
    <div class="profile-card">
        <div class="profile-item">
            <i class="fas fa-user"></i>
            <p>Username: {{ request.user.username }}</p>
        </div>

        <div class="profile-item">
            <form id="update_username-form" action="{% url 'notes:update_username' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-settings">
                    <i class="fas fa-envelope"></i>
                    Update
                    <i class="fas fa-envelope"></i>
                    Username
                </button>
            </form>
        </div>

        <div class="profile-item">
            <form id="change_password-form" action="{% url 'notes:change_password' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-settings">
                    <i class="fas fa-key"></i>
                    Change Password
                </button>
            </form>
        </div>

        <div class="profile-item">
            <i class="fas fa-envelope"></i>
            <p>Email: {{ user.email }}</p>
        </div>

        <h3>Website appearance</h3>
        <p>Choose which color scheme you'd like to use for FlowNote.</p>
        <form id="theme-form" action="{% url 'notes:update_theme' %}" method="post">
            {% csrf_token %}
            <div class="theme-previews">
                <div class="theme-preview light">
                    <label for="theme-light">
                        <img src="{% static '../static/notes/css/images/preview_lightmode.png' %}" alt="Light Mode Preview" class="preview-box">
                    </label>
                    <div class="preview-label">
                        <input type="radio" name="theme" value="light" id="theme-light" {% if user.userprofile.theme == 'light' %}checked{% endif %}>
                        <label for="theme-light">Light</label>
                    </div>
                </div>
                <div class="theme-preview dark">
                    <label for="theme-dark">
                        <img src="{% static '../static/notes/css/images/preview_darkmode.png' %}" alt="Dark Mode Preview" class="preview-box">
                    </label>
                    <div class="preview-label">
                        <input type="radio" name="theme" value="dark" id="theme-dark" {% if user.userprofile.theme == 'dark' %}checked{% endif %}>
                        <label for="theme-dark">Dark</label>
                    </div>
                </div>
            </div>
        </form>
        <br><br>
        <h3>Contact Support</h3>
        <p>Questions, feedback, or issues? Contact us!</p>
        <form id="contact-form" action="{% url 'notes:contact' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-settings">
                <i class="fas fa-envelope"></i>
                Contact
            </button>
        </form>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var themeForm = document.getElementById('theme-form');
        var themeRadios = document.getElementsByName('theme');

        // Add event listener to each radio button
        themeRadios.forEach(function(radio) {
            radio.addEventListener('change', function() {
                themeForm.submit(); // Submit the form when a radio button is selected
            });
        });
    });
</script>

<style>
    .theme-previews {
        display: flex;
        justify-content: left;
        gap: 200px;
        margin-top: 20px;
    }

    .theme-preview {
        text-align: center;
    }

    .preview-box {
        width: 300px;
        height: 150px;
        border: 1px solid;
        border-color: var(--border-box-color);
        border-radius: 10px;
        object-fit: cover;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .preview-label {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profile-container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .profile-card {
        background-color: var(--card-bg-color);
        border-radius: 4px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .profile-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .profile-item i {
        margin-right: 10px;
        color: var(--icon-color);
    }
    .profile-item p {
        margin: 0;
    }
</style>
{% endblock %}